if SHIELD_VIOSLO_LEFT

config ZMK_KEYBOARD_NAME
    default "Viosuo Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_VIOSLO_RIGHT

config ZMK_KEYBOARD_NAME
    default "Viosuo right"

endif

if SHIELD_VIOSLO_LEFT || SHIELD_VIOSLO_RIGHT

config ZMK_SPLIT
    default y

endif
