#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
&kp LGUI    &kp LCTRL   &kp LALT         &none   &kp LSHFT  &kp TAB
      &none                                             &kp ESC

        &kp R   &kp Q  &kp G         &kp B   &kp Y   &kp X
&none   &kp C   &kp E  &kp D         &kp U   &kp N   &kp O  &kp M
        &kp T   &kp A  &kp SPACE     &kp H   &kp K   &kp L
&kp Z   &kp F   &kp I  &kp V         &kp S   &kp J   &kp P  &kp W
&none   &none   &none  &none         &none   &none   &none  &none
&none   &none   &none  &none         &none   &none   &none  &none
			>;
		};

	};

};
