#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
              &kp A   &kp B    &kp C         &kp A   &kp A    &kp A
                  &bt BT_CLR                              &kp A
                &kp J   &kp P  &kp V         &kp A   &kp A   &kp A
        &kp F   &kp K   &kp Q  &kp X         &kp A   &kp A   &kp A  &kp A
                &kp L   &kp R  &kp Y         &kp A   &kp A   &kp A
        &kp G   &kp M   &kp S  &kp Z         &kp A   &kp A   &kp A  &kp A
        &kp H   &kp N   &kp T  &kp E         &kp A   &kp A   &kp A  &kp A
        &kp I   &kp O   &kp U  &kp W         &kp A   &kp A   &kp A  &kp A
			>;
		};

	};

};
